* {
    margin: 0;
    transition: 0.4s all;
    padding: 0;
    font-size: 1.3rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background: url(../images/fondo.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rectanguloSuperior {
    width: 100%;
    background: #8EA78A;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 100px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(123, 158, 137, 0.7);
}

.navbar li {
    float: left;
    border: black;
    border-right: solid black;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(83, 179, 142);
}

.logoNavbar {
    float: right;
    position: absolute;
    top: 120px;
    right: 100px;
    max-width: 200px;
    z-index: 4;
}


/* contenido principal*/

.principalContent {
    width: 55%;
    background-color: rgba(182, 182, 182, 0.8);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0px 5px 15px 5px rgb(53, 53, 53);
    /*h-offset v-offset blur spread color ;*/
}

.principalContent p,
h1 {
    color: black;
}

.logoFoot {
    width: 85px;
    float: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0;
    background-color: rgb(123, 158, 137, 0.5);
    color: white;
    text-align: center;
}

.ulFoot {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ulFoot li {
    float: left;
    list-style: none;
}

* .ulFoot li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ulFoot li a:hover {
    background-color: rgb(123, 158, 137, 0.5);
}

.copyright {
    top: 20%;
    position: absolute;
    left: 40%;
}